/* Добавляет основные цвета для стилизации контента */
:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --color-black: #000000;
  --color-white: #ffffff;
  --bcg-color: #2f303a;
  --bcg-img-color: #f5f4fa;
  --icon-color: #afb1b8;
  --bcg-color-hero: #2f303a40;
}

/* Добавляет/делает сброс стилей для тега body */

body {
  margin: 0;

  color: var(--first-text-color);
  background-color: var(--color-white);

  font-family: 'Roboto', sans-serif;
}

/* Ограничивающий контейнер */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Добавляет стили для хедера*/

.header {
  border-bottom: 1px solid #ececec;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Начало блока навигации */

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стили для логотипа */

.header-nav__logo {
  margin-right: 93px;

  color: var(--color-black);

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header-nav__logo-second {
  color: var(--accent-color);
}

.header-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
}

.header-nav__list .header-nav__actual {
  color: var(--accent-color);
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--first-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__item {
  position: relative;
}

.header-nav__item .header-nav__actual::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* ^ Край блока навигации ^ */

/* Блок с адресом и телефоном */

.header-list {
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
  display: flex;
  justify-content: end;
}

.header-list__item {
  padding-left: auto;
  margin-right: 50px;
}

.header-list__item:last-child {
  margin-right: 0px;
}

.header-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover,
.header-list__link:focus {
  color: var(--accent-color);
}

/* Иконки */

.header-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Добавляет стили для hero блока */

.hero {
  background-image: linear-gradient(to top, var(--bcg-color-hero), var(--bcg-color-hero)),
    url(../images/index/team-work.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  color: var(--color-white);

  text-align: center;
}

.hero-title {
  margin: 0;
  display: block;

  color: var(--color-white);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  align-items: center;
  text-align: center;
}

/* Добавляет стили для кнопки */

.button {
  padding: 10px 32px;
  margin-top: 30px;

  color: var(--color-white);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

/* Край оформления кнопки */

/* Добавляет стили для раздела "особенности" */

.feature {
  padding-top: 94px;

  background-color: var(--color-white);
}

.feature-list {
  padding-left: 0px;
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.feature-list__item {
  width: 270px;
  list-style-type: none;
}

.feature-list__item::before {
  content: '';
  background-color: var(--bcg-img-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list__antenna::before {
  background-image: url(../images/index/antenna.png);
}

.feature-list__clock::before {
  background-image: url(../images/index/clock.png);
}

.feature-list__diagram::before {
  background-image: url(../images/index/diagram.png);
}

.feature-list__astronaut::before {
  background-image: url(../images/index/astronaut.png);
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--first-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list__text {
  margin-bottom: 0;
  margin-top: 0;

  color: var(--second-text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Добавляет стили для раздела "чем занимаемся" */

.work {
  padding-bottom: 94px;
  padding-top: 94px;

  background-color: var(--color-white);
}

.work-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--color-black);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
  padding: 0px;
  margin: 0;
  justify-content: space-between;
}

.work-list__item {
  list-style-type: none;
}

.work-list__img {
  position: relative;
  max-height: 294px;
  display: block;
  max-width: 100%;
  height: auto;
}

.work-list__text {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
}

/* Добавляет стили для раздела "наша команда" */

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.team-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--first-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  margin: auto;
  padding-left: 0;

  justify-content: space-between;
}

.team-list__items {
  list-style-type: none;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__img {
  margin-bottom: 0;

  display: block;
  max-width: 100%;
  height: auto;
}

.team-list__wrap {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--color-white);
}

.team-list__name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--first-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__text {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Блок ссылок на социальные сети */

.team-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
}

.team-list__icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  list-style-type: none;
}

.team-list__icon-item:last-child {
  margin-right: 0px;
}

.team-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__link:hover,
.team-list__link:active,
.team-list__link:focus {
  border-radius: 50%;
  fill: var(--color-white);
  background: var(--accent-color);
}

.team-list__link:last-child {
  margin-right: 0px;
}

.team-list__social {
  display: block;
}

/* Добавляет стили для секции "Постоянные клиенты" */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
}

.client-list__item {
  margin-right: 30px;

  list-style: none;
}

.client-list__item:last-child {
  margin-right: 0;
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 32px;

  width: 170px;
  height: 92px;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover,
.client-list__link:active,
.client-list__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-list__logo {
  fill: currentColor;
}

/* Добавляет стили для тега footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bcg-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.container-footer {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 30px;

  color: var(--color-white);

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo__second {
  color: var(--accent-color);
}

/* Блок контакты в футере */

.footer-list {
  display: block;
  margin: 0;
  padding-left: 0;
}

.footer-list__item {
  margin-bottom: 9px;
  list-style-type: none;
}

.footer-list__item:last-child {
  margin-bottom: 0;
}

.footer-list__address {
  color: var(--color-white);

  margin-bottom: 9px;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__address:hover,
.footer-list__address:focus {
  color: var(--accent-color);
}

.footer-list__source {
  color: var(--second-text-color);

  margin-bottom: 9px;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__source:hover,
.footer-list__source:focus {
  color: var(--accent-color);
}

/* Край блока Контакты в футере */

/* Блок социальных сетей в футере */

.footer-social {
  display: block;
  margin-right: 93px;
}

.footer-social__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin: 0;
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social__item {
  margin-right: 10px;
  padding: 0;
}

.footer-social__item:last-child {
  margin-right: 0px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:active,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

/* Край блока социальных сетей в футере */

/* Добавляет стили для формы ввода в футере */

.footer-form__title {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__input {
  height: 50px;
  width: 358px;

  padding: 15px;
  margin: 0 12px 0 0;

  background-color: #2f303a;
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000015;
  outline: none;
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  margin: 0;
  padding: 10px 0px;

  height: 50px;
  width: 200px;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000025;
  background-color: var(--accent-color);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__button:hover,
.footer-form__button:focus {
  color: var(--color-white);
  background-color: #188ce8;
  cursor: pointer;
}

.footer-form__icon {
  margin: 0;
  margin-left: 10px;
}

/* Добавляет основные стили для файла portfolio.html */

/* Блок-контейнер для отступа */

.works {
  padding-bottom: 94px;

  background-color: var(--color-white);
}

/* Добавляет стили для раздела "фильтры для поиска" */

.filtres {
  padding-top: 94px;
  margin-bottom: 34px;
}

.filtres-list {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.filtres-list .filtres-list__item:last-child {
  margin-right: 0px;
}

.filtres-list__item {
  margin-right: 8px;
  list-style-type: none;
}

.filtres-list__button {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--first-text-color);
  background-color: #f5f4fa;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtres-list__button:hover,
.filtres-list__button:focus {
  color: var(--color-white);
  background-color: #188ce8;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Край блока кнопок */

/* Добавляет элементы для раздела "работы" */

.works-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.works-list__item {
  list-style-type: none;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works-list__link {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list__link:hover,
.works-list__link:focus,
.works-list__link:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list__wrap {
  position: relative;
  overflow: hidden;
}

.works-list__img {
  display: block;
}

.works-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  margin: 0;
  padding: 63px 24px;

  color: var(--color-white);
  font-size: 18px;
  line-height: 1.5;

  opacity: 0;

  transform: translateY(100%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Добавляет анимацию на картинку при ховере */

.works-list__link:hover .works-list__overlay,
.works-list__link:focus .works-list__overlay {
  opacity: 1;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list__item:nth-child(3n) {
  margin-right: 0px;
}

.works-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.works-list__box {
  padding: 20px 24px 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.works-list__title {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--first-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list__text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Край блока карточек */

/*Добавляет стили для модального окна*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

/* Добавляет стили для формы в модальном окне */
/* Убирает бордер внутри инпута outline: none; */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input:focus {
  outline: 0;
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon-input {
  fill: var(--accent-color);
}

.modal-title {
  margin: 0 0 12px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
}

.modal-list {
  list-style: none;

  display: flex;
  margin-bottom: 10px;
}

.modal-item {
  display: flex;
}

.form-label {
  margin-bottom: 10px;

  position: relative;

  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-input {
  height: 40px;
  width: 100%;

  border: 1px solid;
  border-color: #21212120;
  border-radius: 4px;

  outline: none;

  padding: 11px 11px;
  padding-left: 42px;
  margin-top: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-input {
  position: absolute;
  top: 0;
  left: 12px;

  transform: translate(0%, 165%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 450px;
  height: 120px;

  padding: 12px 16px;
  margin-top: 4px;

  border: 1px solid #21212120;
  border-radius: 4px;

  resize: none;
  outline: none;
}

.form-label-textarea {
  margin-bottom: 20px;

  position: relative;

  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-checkbox {
  margin-bottom: 30px;
}

.form-label-check {
  display: flex;
  justify-content: center;

  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.check-link {
  margin-left: 3px;

  color: var(--accent-color);
}

.modal-send {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 56px;

  justify-content: center;

  color: var(--color-white);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:hover,
.modal-send:active {
  background-color: #188ce8;
}

.label-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 1px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  width: 16px;
  height: 15px;

  margin-right: 8px;

  border: 2px solid #212121;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-check:checked + .icon-checkbox {
  background-origin: border-box;
  background-color: var(--accent-color);
  border-color: transparent;
}

.label-check:focus + .icon-checkbox {
  border-color: var(--accent-color);
}
