/* Добавляет стили для раздела "особенности" */

.feature {
  padding-top: 94px;

  background-color: var(--color-white);
}

.feature-list {
  padding-left: 0px;
  display: flex;
  margin: 0;
  justify-content: space-between;

  &__antenna::before {
    background-image: url(../images/index/antenna.png);
  }
  &__clock::before {
    background-image: url(../images/index/clock.png);
  }
  &__diagram::before {
    background-image: url(../images/index/diagram.png);
  }
  &__astronaut::before {
    background-image: url(../images/index/astronaut.png);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--first-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 0;
    margin-top: 0;

    color: var(--second-text-color);

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.feature-list__item {
  width: 270px;
  list-style-type: none;

  &::before {
    content: '';
    background-color: var(--bcg-img-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
}
