.filtres {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filtres-list {
  margin-top: 0px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  padding-left: 0px;

  &__item {
    margin-right: 8px;
    margin-bottom: 15px;
    list-style-type: none;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__button {
    display: inline-block;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--first-text-color);
    background-color: #f5f4fa;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    transition: color var(--animation-main), background-color var(--animation-main),
      box-shadow var(--animation-main);

    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: var(--button-hover);
      cursor: pointer;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1200px) {
}
