/* Добавляет стили для тега footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bcg-color);

  max-width: 100vh;

  &-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
  }
}

/* Логотип футера */

.container-footer {
  text-align: center;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--color-white);

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;

  &__second {
    color: var(--accent-color);
  }
}

/* Блок контакты в футере */

.footer-list {
  display: block;
  margin: 0;
  padding-left: 0;

  &__item {
    margin-bottom: 8px;
    list-style-type: none;
    &:last-child {
      margin-bottom: 0;
    }
  }

  /* Блок адресов */

  &__address {
    color: var(--color-white);

    margin-bottom: 9px;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    transition: color var(--animation-main);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  /* Блок информации для связи*/

  &__source {
    color: var(--second-text-color);

    margin-bottom: 9px;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    transition: color var(--animation-main);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

/* Край блока Контакты в футере */

/* Блок социальных сетей в футере */

.footer-social {
  display: block;
  padding-top: 60px;

  /* Заголовок секции*/

  &__title {
    text-align: center;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;

    margin: 0;
    margin-bottom: 20px;
  }

  /* Список */

  &__list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* Элементы списка */

  &__item {
    margin-right: 10px;
    padding: 0;

    &:last-child {
      margin-right: 0px;
    }
  }

  /* Ссылки на соц. сети */

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--color-white);

    transition: background-color var(--animation-main);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}

/* Край блока социальных сетей в футере */

/* Добавляет стили для формы ввода в футере */

.footer-form {
  margin-top: 60px;
  text-align: center;

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__input {
    height: 50px;
    width: 100%;

    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: #2f303a;
    color: var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000015;
    outline: none;

    &::placeholder {
      font-size: 16px;
      line-height: 1;
      // display: flex;
      align-items: center;
      letter-spacing: 0.03em;

      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    margin: 0;
    padding: 10px 0px;

    height: 50px;
    width: 200px;

    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000025;
    background-color: var(--accent-color);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--animation-main);

    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: var(--button-hover);
      cursor: pointer;
    }
  }

  &__icon {
    margin: 0;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1200px) {
}

// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   background-color: var(--bcg-color);

//   &-flex {
// display: flex;
//     align-items: baseline;
//     justify-content: space-around;
//   }
// }

// .container-footer {
//   margin-right: 70px;
// }

// /* Логотип футера */

// .footer-logo {
//   display: block;
//   margin-bottom: 30px;

//   color: var(--color-white);

//   font-family: 'Raleway', sans-serif;
//   text-decoration: none;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;

//   &__second {
//     color: var(--accent-color);
//   }
// }

// /* Блок контакты в футере */

// .footer-list {
//   display: block;
//   margin: 0;
//   padding-left: 0;

//   &__item {
//     margin-bottom: 9px;
//     list-style-type: none;
//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

//   /* Блок адресов */

//   &__address {
//     color: var(--color-white);

//     margin-bottom: 9px;
//     text-decoration: none;
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.7;

//     transition: color var(--animation-main);
//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//     }
//   }

//   /* Блок информации для связи*/

//   &__source {
//     color: var(--second-text-color);

//     margin-bottom: 9px;
//     text-decoration: none;
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.7;

//     transition: color var(--animation-main);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//     }
//   }
// }

// /* Край блока Контакты в футере */

// /* Блок социальных сетей в футере */

// .footer-social {
//   display: block;
//   margin-right: 93px;

//   /* Заголовок секции*/

//   &__title {
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #ffffff;

//     margin: 0;
//     margin-bottom: 20px;
//   }

//   /* Список */

//   &__list {
//     display: flex;
//     justify-content: space-around;

//     margin: 0;
//     padding: 0;
//     list-style-type: none;
//   }

//   /* Элементы списка */

//   &__item {
//     margin-right: 10px;
//     padding: 0;

//     &:last-child {
//       margin-right: 0px;
//     }
//   }

//   /* Ссылки на соц. сети */

//   &__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     width: 44px;
//     height: 44px;
//     border-radius: 50%;

//     background-color: rgba(255, 255, 255, 0.1);
//     fill: var(--color-white);

//     transition: background-color var(--animation-main);

//     &:hover,
//     &:active,
//     &:focus {
//       background-color: var(--accent-color);
//     }
//   }
// }

// /* Край блока социальных сетей в футере */

// /* Добавляет стили для формы ввода в футере */

// .footer-form {
//   &__title {
//     display: block;
//     margin-bottom: 20px;

//     font-weight: bold;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #ffffff;
//   }

//   &__input {
//     height: 50px;
//     width: 358px;

//     padding: 15px;
//     margin: 0 12px 0 0;

//     background-color: #2f303a;
//     color: var(--color-white);
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     box-shadow: 0px 4px 4px 0px #00000015;
//     outline: none;

//     &::placeholder {
//       font-size: 16px;
//       line-height: 1;
//       display: flex;
//       align-items: center;
//       letter-spacing: 0.03em;

//       color: rgba(255, 255, 255, 0.6);
//     }
//   }

//   &__button {
//     margin: 0;
//     padding: 10px 0px;

//     height: 50px;
//     width: 200px;

//     border: none;
//     border-radius: 4px;
//     box-shadow: 0px 4px 4px 0px #00000025;
//     background-color: var(--accent-color);
//     color: var(--color-white);
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 30px;
//     letter-spacing: 0.06em;

//     display: inline-flex;
//     justify-content: center;
//     align-items: center;

//     transition: background-color var(--animation-main);

//     &:hover,
//     &:focus {
//       color: var(--color-white);
//       background-color: var(--button-hover);
//       cursor: pointer;
//     }
//   }

//   &__icon {
//     margin: 0;
//     margin-left: 10px;
//   }
// }
