/* Добавляет стили для хедера*/

.header {
  border-bottom: 1px solid #ececec;

  // Стили для кнопки
  &__button {
    position: relative;
    z-index: 100;
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  &__icon {
    width: 24px;
    height: 16px;
    transition: fill var(--animation-main);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  &__wrap {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    width: 100%;
    background-color: var(--color-white);

    &.is-open {
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  }

  &__link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }

  &__content {
    position: relative;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item:not(:last-child):after {
    content: '';

    background-color: rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

// Стили для логотипа
.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
  font-size: 26px;
  line-height: 1.16;
  text-decoration: none;

  color: var(--color-black);

  padding: 16px 0;

  &__text {
    color: var(--accent-color);
  }
}

.header__button .icon-cross {
  display: none;
}

.header__button.is-open .icon-cross {
  display: block;
}

.header__button.is-open .icon-menu {
  display: none;
}

// Стили для навигации
.navigation {
  padding: 48px 40px;

  &__item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 200px;
    }
  }

  &__link {
    position: relative;
    display: block;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--fist-text-color);
    transition: color var(--animation-main);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--activ {
      color: var(--accent-color);
    }
  }
}

// Стили для контактов
.contacts {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--fist-text-color);

    transition: color var(--animation-main);
  }

  &__link-blue {
    font-size: 34px;
    color: var(--accent-color);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__icon {
    display: none;
  }
}

// .header {
//   border-bottom: 1px solid #ececec;
// }

// /* Начало блока навигации */

// .header-nav {
// display: flex;
//   align-items: center;
//   justify-content: center;

//   &__item {
// margin-right: 50px;
//     position: relative;

//     &:last-child {
// margin-right: 0;
//     }
//   }

//   &__link {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: var(--first-text-color);
//     text-decoration: none;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     transition: color var(--animation-main);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//       transition: color var(--animation-main);
//     }
//   }

//   &__list {
//     list-style-type: none;
//     padding: 0;
// margin: 0;
//     justify-content: center;
// display: flex;
//   }

//   &__list &__actual {
//     color: var(--accent-color);

//     &::after {
//       content: '';
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       height: 4px;
//       width: 100%;
//       background-color: var(--accent-color);
//       border-radius: 2px;
//     }
//   }
// }

/* Стили для логотипа */

// .header-nav__logo {
//     display: block;
//     padding: 16px 0;

// margin-right: 93px;

// color: var(--color-black);

// font-family: 'Raleway', sans-serif;
// text-decoration: none;
// font-weight: 700;
// font-size: 26px;
// line-height: 1.2;

//   &-second {
//     color: var(--accent-color);
//   }
// }

// /* ^ Край блока навигации ^ */

// /* Блок с адресом и телефоном */

// .header-list {
//   padding: 0;
// margin: 0 0 0 auto;
//   list-style: none;
// display: flex;
//   justify-content: end;

//   &__item {
//     padding-left: auto;
// margin-right: 50px;
//   }

//   &__item:last-child {
// margin-right: 0px;
//   }

//   /* Иконки */

//   &__icon {
//     fill: currentColor;
// margin-right: 10px;
//   }

//   &__link {
// display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: var(--second-text-color);
//     text-decoration: none;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     transition: color var(--animation-main);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//     }
//   }
// }
