/* Добавляет стили для хедера*/

.header {
  border-bottom: 1px solid #ececec;

  &-brg {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    width: 40px;
    height: 40px;

    border: none;
    background-color: white;
    cursor: pointer;

    &:hover .header-brg__icon {
      fill: var(--accent-color);
    }
  }
}

/* Начало блока навигации */

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    // margin-right: 50px;
    position: relative;

    &:last-child {
      // margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--first-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--animation-main);

    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: color var(--animation-main);
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  &__list &__actual {
    color: var(--accent-color);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}

/* Стили для логотипа */

.header-nav__logo {
  display: block;
  padding: 16px 0;
  margin-right: 276px;

  color: var(--color-black);

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  &-second {
    color: var(--accent-color);
  }
}

.header-nav__list {
  display: none;
}

/* Блок с адресом и телефоном */

.header-list {
  padding: 0;
  // margin: 0 0 0 auto;
  list-style: none;
  // display: flex;
  justify-content: end;
  display: none;

  &__item {
    padding-left: auto;
    // margin-right: 50px;
  }

  &__item:last-child {
    margin-right: 0px;
  }

  /* Иконки */

  &__icon {
    fill: currentColor;
    // margin-right: 10px;
  }

  &__link {
    // display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--second-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--animation-main);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__btn {
  border: 0;
  background-color: white;
}
.mobile-menu__icon {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1200px) {
}

// .header {
//   border-bottom: 1px solid #ececec;
// }

// /* Начало блока навигации */

// .header-nav {
// display: flex;
//   align-items: center;
//   justify-content: center;

//   &__item {
// margin-right: 50px;
//     position: relative;

//     &:last-child {
// margin-right: 0;
//     }
//   }

//   &__link {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: var(--first-text-color);
//     text-decoration: none;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     transition: color var(--animation-main);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//       transition: color var(--animation-main);
//     }
//   }

//   &__list {
//     list-style-type: none;
//     padding: 0;
// margin: 0;
//     justify-content: center;
// display: flex;
//   }

//   &__list &__actual {
//     color: var(--accent-color);

//     &::after {
//       content: '';
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       height: 4px;
//       width: 100%;
//       background-color: var(--accent-color);
//       border-radius: 2px;
//     }
//   }
// }

/* Стили для логотипа */

// .header-nav__logo {
//     display: block;
//     padding: 16px 0;

// margin-right: 93px;

//   color: var(--color-black);

//   font-family: 'Raleway', sans-serif;
//   text-decoration: none;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;

//   &-second {
//     color: var(--accent-color);
//   }
// }

// /* ^ Край блока навигации ^ */

// /* Блок с адресом и телефоном */

// .header-list {
//   padding: 0;
// margin: 0 0 0 auto;
//   list-style: none;
// display: flex;
//   justify-content: end;

//   &__item {
//     padding-left: auto;
// margin-right: 50px;
//   }

//   &__item:last-child {
// margin-right: 0px;
//   }

//   /* Иконки */

//   &__icon {
//     fill: currentColor;
// margin-right: 10px;
//   }

//   &__link {
// display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: var(--second-text-color);
//     text-decoration: none;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     transition: color var(--animation-main);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//     }
//   }
// }
