/* Добавляет стили для hero блока */

.hero {
  background-image: linear-gradient(to top, var(--bcg-color-hero), var(--bcg-color-hero)),
    url(../images/index/team-work.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  color: var(--color-white);

  text-align: center;

  &-title {
    margin: 0;
    display: block;

    color: var(--color-white);

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    align-items: center;
    text-align: center;
  }
}

/* Добавляет стили для кнопки */

.button {
  padding: 10px 32px;
  margin-top: 30px;

  color: var(--color-white);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--animation-main);

  &:hover,
  &:focus {
    background-color: var(--button-hover);
    cursor: pointer;
  }
}
