/* Добавляет общие стили для модального окна */

.modal {
  position: absolute;
  top: 55%;
  left: 50%;

  width: 100%;
  height: 609px;
  padding: 40px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -55%) scale(1);

  transition: transform var(--animation-main);

  /* Заголовок модального окна */

  &-title {
    margin: 0 0 12px 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--first-text-color);
  }

  /* Кнопка закрытия модального окна */

  &-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill var(--animation-main);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  /* Кнопка для отправки информации в модальном окне */

  &-send {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 56px;

    justify-content: center;

    color: var(--color-white);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    transition: background-color var(--animation-main);

    &:hover,
    &:active {
      background-color: var(--button-hover);
    }
  }
}

/* Добавляет стили для формы в модальном окне */

.modal-form {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 10px;

    position: relative;

    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;

    color: var(--second-text-color);
  }

  &__input {
    height: 40px;
    width: 100%;

    border: 1px solid;
    border-color: #21212120;
    border-radius: 4px;

    outline: none;

    padding: 11px 11px;
    padding-left: 42px;
    margin-top: 4px;

    transition: border-color var(--animation-main);

    /* Утилита подсветки свг иконки при фокусе инпута */

    &:focus {
      outline: 0;
      border-color: var(--accent-color);
    }

    &:focus + .modal-form__icon {
      fill: var(--accent-color);
    }
  }

  &__icon {
    position: absolute;

    top: 0;
    left: 12px;

    transform: translate(0%, 165%);
    transition: fill var(--animation-main);
  }

  /* Стили для поля ввода текста */

  &__textarea {
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
  }

  &__feedback {
    width: 100%;
    height: 120px;

    padding: 12px 16px;
    margin-top: 4px;

    border: 1px solid #21212120;
    border-radius: 4px;

    resize: none;
    outline: none;

    transition: border-color var(--animation-main);

    &:focus {
      border-color: var(--accent-color);
    }
  }

  /* Стили для чекбокса */

  &__checkbox {
    margin-bottom: 30px;
  }

  &__check {
    display: block;

    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }

  &__box {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 1px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__icon-checkbox {
    width: 16px;
    height: 15px;

    margin-right: 8px;

    border: 2px solid #212121;
    border-radius: 2px;

    transition: background-color var(--animation-main), border-color var(--animation-main);

    /* Добавляет кастомную иконку для чекбокса при чекеде и фокусе */

    .modal-form__box:checked + & {
      background-origin: border-box;
      background-color: var(--accent-color);
      border-color: transparent;
    }

    .modal-form__box:focus + & {
      border-color: var(--accent-color);
    }
  }

  &__link {
    margin-left: 3px;

    font-size: 11px;

    color: var(--accent-color);
  }
}

// Adaptive
@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1201px) {
}
