/* Добавляет/делает сброс стилей для тега body */

body {
  color: var(--first-text-color);
  background-color: var(--color-white);
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
