@media screen and (min-width: 480px) {
  // Адаптив хедера
  .header {
    background-color: tomato;
  }

  //   Адаптив секции feature
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    width: 50%;
    &__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
      &::before {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  // Адаптив хедера
  .header {
    background-color: teal;
  }

  //   Адаптив секции feature
}
